@color-text-main: #707e7f;
@color-white: #ffffff;
@color-green: #196575;
@color-red: #e74c3c;
@color-lighter-green: #00e4ff;
@color-light-green: #3b7c8a;
@color-dark-green: #004c5c;
@color-link-main: #196575;
@color-link-hover: #e74c3c;
@color-link-active: #c0392b;
@color-bg-grey: #ecf0f1;
@color-breadcrumb-separator: #bdc3c7;
@border-green-light: 1px solid @color-light-green;

@gradient-green-start: #196575;
@gradient-green-end: #004151;

@image-icons: url(../images/icons.png);


body {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: @color-text-main;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  color: @color-link-main;
  text-decoration: underline;

  &:hover,
  &.hover {
    color: @color-link-hover;
  }
  &:active,
  &.active {
    color: @color-link-active;
  }
}
#block-system-main {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;

    li {
      list-style: none;
      padding: 0 0 0 10px;
      margin: 0;
      position: relative;

      &:before {
        content:"•";
        position: absolute;
        left: 0;
        font-size: 20px;
        color: @color-green;
      }
    }
  }

  ol {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    counter-reset: olCounter;
    li {
      position: relative;
      list-style: none;
      padding: 0 0 0 20px;
      margin: 0;

      &:before {
        counter-increment: olCounter;
        content:counter(olCounter) ".";
        text-align: left;
        position: absolute;
        font-weight: 600;
        color: @color-green;
        left: 0;
      }
    }
  }
}

.h1,.h2,.h3,.h4,.h5,
h1,
h2,
h3,
h4,
h5 {
  font-family: Raleway;
  color: @color-green;
  text-decoration: none;
}
.h1 ,
h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}
.h2 ,
h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}
.h3 ,
h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}
.h4 ,
h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.h5 ,
h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

p {
  margin-bottom: 30px;
}

.h1-bread-wrapper {
  min-height: 0;
}
.navbar-header {
  float: none;
}

.form-submit {

}

.readmore {
  color: @color-green;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 300;
  font-size: 12px;
  line-height: 40px;
}

.dark-btn {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 70px;
  color: @color-white;
  background: @color-green;
  line-height: 40px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border-right: @border-green-light;
    z-index: 1;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
  }
  &:hover {
    color: @color-lighter-green;
    text-decoration: none;
  }
}

#logo-wrapper {
  .logo {
    display: block;
    width: 50%;
    min-width: 55px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
}
#block-locale-language {
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      list-style: none;
      display: inline-block;
      margin-right: 18px;
      a {
        color: @color-white;
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        padding-bottom: 4px;
        &.active {
          border-color: @color-light-green;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.footer {
  position: relative;
  margin-top: 25px;
  padding-top: 0;
  padding-bottom: 20px;
  border: 0;

  .region-footer {
    padding-top: 50px;
    border-top: 10px solid @color-green;
  }
  span, a {
    font-family: Raleway;
    font-weight: 400;
    line-height: 20px;
    font-size: 12px;
    color: @color-green;
  }
  .first-col {
    a {
      padding-left: 2px;
    }
  }
  .second-col {
    position: absolute;
    top: 25px;
    padding: 0;
    span {
      font-size: 16px;
    }
  }
  .third-col {
    text-align: right;
    span {
      padding-right: 2px;
    }
  }
}


.basic-cart-add-to-cart-link {
  &:before {
    background: @image-icons no-repeat 3px -160px;
  }
  &:hover:before {
    background-position: -45px -160px;
  }
}
.ask-button {
  &:after {
    content: "?";
    position: absolute;
    left: 17px;
    top: 13px;
    width: 15px;
    height: 15px;
    z-index: 2;
    background: @color-white;
    color: @color-green;
    line-height: 16px;
    font-size: 12px;
    font-family: Raleway;
    text-indent: 1px;
    font-weight: 700;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  &:hover:after {
    background: @color-lighter-green;
    color: @color-white;
  }
}

.region-sidebar-first {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.page-header {
  margin: 25px 0 10px;
  padding: 0;
  border: 0;
}
.breadcrumb {
  padding: 0;
  background-color: transparent;
  li {
    font-family: Raleway;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: @color-green;
    text-transform: uppercase;
    a {
      text-decoration: none;
    }
    &:after {
      padding: 0 5px;
      color: @color-breadcrumb-separator;
      content: "/\00a0";
    }
    &:last-child:after {
      display: none;
    }
  }
  > li + li:before {
    display: none;
  }
}

#navbar {
  position: relative;
  // overflow: hidden;
  background: @gradient-green-start;
  background: -moz-linear-gradient(left, @gradient-green-start 0%, @gradient-green-end 100%);
  background: -webkit-linear-gradient(left, @gradient-green-start 0%, @gradient-green-end 100%);
  background: -o-linear-gradient(left, @gradient-green-start 0%, @gradient-green-end 100%);
  background: -ms-linear-gradient(left, @gradient-green-start 0%, @gradient-green-end 100%);
  color: @color-white;
}
.navbar-toggle {

}

#block-system-main .pagination,
.pagination {
  float: left;
  overflow: hidden;
  li {
    display: block;
    float: left;
    overflow: hidden;
    padding: 0;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border: 3px solid @color-bg-grey;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    &.active {
      span {
        background: none;
      }
    }
    span, a {
      position: static;
      float: none;
      text-align: center;
      display: block;
      padding: 0;
      background: none;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: @color-link-main;
      &:hover {
        background: @color-bg-grey;
        color: @color-link-hover;
      }
      &:active {
        color: @color-link-active;
      }
    }
    span {
      color: @color-breadcrumb-separator !important;
      background: none !important;
    }
    &:before {
      display: none;
    }
  }
  .pager-last, .pager-first {
    display: none;
  }
  .prev {
    a {
      font-size: 0;
      background: @image-icons -158px -62px no-repeat;
      &:hover {
        background: @image-icons -80px -62px no-repeat @color-bg-grey;
      }
    }
  }
  .next {
    a {
      font-size: 0;
      background: @image-icons -156px -30px no-repeat;
      &:hover {
        background: @image-icons -78px -30px no-repeat @color-bg-grey;
      }
    }
  }
}


/*************** MAIN-MENU **************/
#main-menu-wrapper {
  border: @border-green-light;
  border-bottom-width: 5px;

  li {
    border-right: @border-green-light;
    display: block;
    float: none;

    &.first {
      border-left: @border-green-light;
    }

    a {
      text-indent: 38px;
      padding: 0;
      font-family: Raleway;
      font-weight: 700;
      font-size: 16px;
      line-height: 40px;
      color: @color-white;
      text-transform: uppercase;
      text-decoration: none;
      background-color: transparent;
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;

      &:hover {
        color: @color-lighter-green;
      }
    }
  }
  .button-container {
    p.navbar-toggle {
      display: block;
      margin: 0 15px;
      padding: 10px 0;
      text-indent: 38px;
      float: none;
      border: 0;
      border-right: @border-green-light;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      line-height: 40px;
      font-family: Raleway;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  .btn-wrapper {
    margin-left: 15px;
    width: 55px;
    height: 60px;
    position: relative;
    border-left: @border-green-light;
    border-right: @border-green-light;
    button.navbar-toggle {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
      margin-left: -8px;
      margin-top: -6px;
      border: 0;
      .icon-bar {
        width: 16px;
        height: 2px;
        background: @color-white;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        + .icon-bar {
          margin-top: 3px;
        }
      }
    }
  }
  .navbar-collapse {
    position: absolute;
    z-index: 10;
    left: 15px;
    right: 15px;
    top: 100%;
    border: 0;
    // padding: 0;
    background: @color-light-green;
    -webkit-box-shadow: none;
    box-shadow: none;
    .menu {
      counter-reset: menuList;
      li:before {
        counter-increment: menuList;
        content: "0" counter(menuList) ". ";
        display: block;
        width: 55px;
        float: left;
        line-height: 40px;
        font-family: Raleway;
        font-size: 10px;
        text-align: center;
      }
    }
  }
}


// SLIDER
.view-main-slider {
  .slides {
    li {
      .views-field-title{
        a{
          .h2;
        }
      }
    }
  }
}


#block-basic-cart-additional-tnd-shopping-cart {
  // display: none;
}

.social-icons {
  margin: 0;
  padding: 0;

  .social-icon {
    list-style: none;
    display: inline-block;

    a{
      background: url(../images/social-icons.png) no-repeat 0px 0px;
      background-size: 125px;
      border: @border-green-light;
      display: block;
      width: 20px;
      height: 20px;
      font-size: 0;
    }
    &.social-1 a {
      background-position: -4px 2px;
    }
    &.social-in a {
      background-position: -22px 2px;
    }
    &.social-2 a {
      background-position: -40px 2px;
    }
    &.social-3 a {
      background-position: -56px 2px;
    }
    &.social-insta a {
      background-position: -73px 2px;
    }
    &.social-twitter a {
      background-position: -90px 2px;
    }
    &.social-fb a {
      background-position: -107px 2px;
    }
  }
}


/************ Filters form **************/
#tnd_portfolio_filters {
  background: @color-bg-grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  float: left;

  h2 {
    font-size: 18px;
    line-height: 20px;
    padding: 0 23px;
    margin: 21px 0 0;
  }
  .form-item-1st-level {
    width: 100%;
    padding: 0 23px;
    margin-top: 25px;
    margin-bottom: 11px;
  }
  #subcategory-wrapper {
    width: 100%;
    padding: 0 23px;
    margin-bottom: 20px;
  }
  select {
    max-width: 100%;
    width: 100%;
  }
  .input-group {
    display: none;
  }

  .submit-wrapper {
    width: 100%;
    padding: 0 23px;
    margin-bottom: 30px;

    .form-submit {
      width: 100%;
      line-height: 40px;
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
      background: @gradient-green-start;
      background: -moz-linear-gradient(left, @gradient-green-start 0%, @gradient-green-end 100%);
      background: -webkit-linear-gradient(left, @gradient-green-start 0%, @gradient-green-end 100%);
      background: -o-linear-gradient(left, @gradient-green-start 0%, @gradient-green-end 100%);
      background: -ms-linear-gradient(left, @gradient-green-start 0%, @gradient-green-end 100%);
      font-size: 0;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        background: @image-icons -10px -99px no-repeat;
        left: 50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -10px;
        width: 20px;
        height: 20px;
      }
      &:hover:after {
        background-position: -48px -99px;
      }
    }
  }

}
.form-type-select {
  .form-control {
    height: auto;
    padding: 0;
    background: transparent;
    border: 0;
  }
  .selectBox-dropdown{
    height: auto;
    width: 100% !important;
    border: 1px solid @color-dark-green;
    background: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}
.selectBox-dropdown {
  .selectBox-label {
    width: auto !important;
    line-height: 38px;
    padding: 0 15px;
    margin: 0;
    vertical-align: top;
    font-family: Raleway;
    font-size: 16px;
    line-height: 38px;
    color: @color-green;
  }
  .selectBox-arrow {
    width: 50px;
    background: @image-icons 4px 5px no-repeat;
    border-left: 1px solid @color-green;
  }
  &.selectBox-menuShowing {
    .selectBox-arrow {
      background-position: -35px 5px;
    }
  }
}
.selectBox-options {
  background: @color-green;
  color: @color-white;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  border: 0;
  li {
    padding: 0 15px;
    border-bottom: 1px solid @color-light-green;
    a {
      padding: 0;
      font-family: Raleway;
      font-weight: 300;
      font-size: 14px;
      line-height: 40px;
      color: @color-white;
      background: none !important;
      text-decoration: none;
    }
    &.selectBox-selected,
    &.selectBox-hover {
      background: @color-light-green;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

// .chosen-container-active.chosen-with-drop,
// .chosen-container-single {
//   .chosen-single {
//     height: auto;
//     border: 1px solid @color-dark-green;
//     background: transparent;
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     -ms-border-radius: 3px;
//     -o-border-radius: 3px;
//     border-radius: 3px;

//     span {
//       font-size: 16px;
//       line-height: 38px;
//     }
//   }
//   .chosen-drop {
//     background: @color-green;
//     color: @color-white;
//   }
//   .chosen-results {
//     margin: 0;
//     padding: 0;

//     li {
//       font-size: 14px;
//       line-height: 40px;
//       padding: 0 15px;
//       border-bottom: 1px solid @color-light-green;

//       &.highlighted {
//         background: @color-light-green;
//       }
//       &:last-child {
//         border-bottom: 0;
//       }
//     }
//   }
// }

/******* Portfolio **********/
.portfolio-views-wrapper {
  margin-top: 40px;

  .group {
    margin-bottom: 38px;
  }
  .full-height-wrapper {
    position: relative;

    .full-height {
      margin-left: -15px;
      margin-right: -15px;
      background: url(../images/bg-box.png) repeat 100% 0;
      text-align: center;
    }

    h3 {
      font-size: 24px;
      line-height: 40px;
      padding: 0 15px;
      margin: 40px 0 41px;
      background: @color-bg-grey;
      color: @color-green;
      display: inline-block;
    }
  }
  .row-height > div + div {
    margin-top: 20px;
  }
  .views-row {
    position: relative;
    margin-bottom: 40px;
    padding: 0;
    margin: 0 15px 20px;
    border: 0 solid @color-bg-grey;
    border-right-width: 1px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    .views-field-field-image {
      width: 55%;
      float: left;
    }
    .views-field-title {
      .h4;
      position: absolute;
      right: 0;
      top: 0;
      width: 45%;
      float: left;
      padding: 18px 18px 12px;
      border: 0 solid @color-bg-grey;
      border-top-width: 1px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      a{
        text-decoration: none;
      }
    }
    .views-field-field-place {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 45%;
      float: left;
      padding: 0 18px 18px;
      border: 0 solid @color-bg-grey;
      border-bottom-width: 1px;
      font-size: 14px;
      line-height: 25px;
      color: @color-green;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    .views-field-title-1 {
      position: absolute;
      font-size: -0px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      background: @color-bg-grey; 
      .views-field-title ,
      .views-field-field-place {
        color: @color-red;
      }
    }
  }
  .row-height {
    > .col-sm-7 .row {
      margin-bottom: -40px;
    }
  }
}









/************************/
.collapsible-block {
  position: relative;

  #collapsible-menu-btn {
    width: 54px;
    height: 50px;
    float: left;
    position: relative;
    background: @color-bg-grey;
    z-index: 1;
    border: 0;
    border-right: 1px solid @color-white;
    border-radius: 3px 0 0 3px;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    .icon-bar {
      margin-right: auto;
      margin-left: auto;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: @color-green;
      -webkit-transition: background 0.5s;
      -o-transition: background 0.5s;
      transition: background 0.5s;
      + .icon-bar {
        margin-top: 4px;
      }
    }
  }
  .block-title {
    background: @color-bg-grey;
    font-family: Raleway;
    font-size: 18px;
    line-height: 50px;
    margin: 0;
    color: @color-green;
    text-transform: uppercase;
    text-indent: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
    transition: background 0.5s, color 0.5s;
  }
  .collapsible-list {
    padding: 15px 0;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 100%;
    margin-top: 1px;
    z-index: 3;
    background: @color-green;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  &.open {
    #collapsible-menu-btn {
      background: @color-green;
      .icon-bar{
        background: @color-white;
      }
    }
    .block-title {
      background: @color-green;
      color: @color-white !important;
    }
  }
}
.view-categories {
  .row-1st-level {
    .views-field-name-i18n {
      padding: 0;
      a {
        display: block;
        padding: 0 20px;
        color: @color-white;
        text-decoration: none;
        font-family: Raleway;
        font-size: 18px;
        line-height: 40px;
        font-weight: 200;

        &:hover {
          background: @color-light-green;
        }
      }
    }
    .views-row {
      .views-field-name-i18n {
        a {
          font-size: 14px;
          line-height: 35px;
          padding-left: 45px;
        }
      }
    }
  }
}

#block-search-form {
  margin-top: 20px;

  .form-text {
    height: 50px;
    border: 1px solid @color-bg-grey;
    outline: 0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .input-group-btn {
    .btn {
      height: 50px;
      width: 51px;
      background: none;
      border: 1px solid @color-bg-grey;
      border-left: 0;
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      -ms-border-radius: 0 3px 3px 0;
      -o-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      .icon {
        color: @color-green;
        font-size: 18px;
      }
    }
  }
  .form-actions {
    margin: 0;
  }
}

.page-catalog,
.catalog-page {
  .main-container {
    position: relative;
  }
  .sidebar-first-wrapper {
    position: static;
  }
}
.view-catalog {
  h3 {
    .h2;
    margin: 30px 0;
    line-height: 30px;
    padding: 0 15px;
    text-transform: uppercase;
  }
  .views-row {
    margin-bottom: 35px;
    position: relative;

    .views-field-field-gallery {
      background-color: @color-bg-grey;
      overflow: hidden;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      -o-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .views-field-title {
      padding: 12px;
      margin-top: 1px;
      background: @color-bg-grey;
      color: @color-green;
      font-family: Raleway;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
    }
    .views-field-field-sku {
      padding: 0 12px 12px;
      background-color: @color-bg-grey;
      color: @color-green;
      font-family: Raleway;
      font-size: 12px;
      line-height: 25px;
      font-weight: 200;
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      -ms-border-radius: 0 0 5px 5px;
      -o-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
    }
    .views-field-title-1 {
      position: absolute;
      font-size: -0px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      .views-field-title,
      .views-field-field-sku {
        color: @color-red;
      }
    }
  }
}


.view-contacts {
  .contacts-row {
    margin-top: 33px;
    padding-bottom: 45px;
    border-bottom: 2px solid @color-bg-grey;
    .views-field-field-image {
      float: left;
    }
    .views-field-title {
      display: table;
      height: 59px;
      margin-top: -5px;
      span {
        .h2;
        display: table-cell;
        // margin-top: -5px;
        text-transform: uppercase;
        line-height: 30px;
        vertical-align: middle;
      }
      a {
        text-decoration: none;
      }
    }
  }
}


.node-type-product {
  h1 {
    margin-top: 24px;
    margin-bottom: 6px;
  }
  .panel-separator {
    display: none;
  }
  .panels-flexible-column-first {
    width: 100%;
    float: none;
    overflow: hidden;
    background: @color-bg-grey;
  }
  .flexslider {
    background: none;
    border: none;
    margin: 35px 0 45px;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    .slides {
      margin: 0;

      li {
        display: none !important;

        &.flex-active-slide {
          display: block !important;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      border: 1px solid @color-white;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
    }
    .flex-control-paging {
      text-align: right;
      font-size: 0;
      bottom: -25px;
      padding-right: 55px !important;
      li {
        padding-left: 10px !important;
        a {
          width: 8px;
          height: 8px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid @color-white;
          background-color: transparent;
          -webkit-box-shadow: none;
          box-shadow: none;

          &.flex-active {
            background: @color-white;
          }
        }
      }
    }
    .flex-direction-nav {
      .flex-nav-prev {
        display: none;
      }
      .flex-nav-next {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;

        a {
          background: @image-icons no-repeat -156px -30px;
          display: block;
          opacity: 1 !important;
          right: 10px !important;
          top: auto;
          bottom: 10px;
          width: 35px;
          height: 35px;
          font-size: 0px;
          border: 3px solid @color-white;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          &:before {
            display: none;
          }
          &:hover {
            background-position: -78px -30px;
          }
        }
      }
    }
  }
  #block-system-main .flexslider {
    ul {
      margin: 0;

      li {
        list-style: none;
        padding: 0;
        &:before {
          display: none;
        }
      }
    }
    .flex-control-nav {
      z-index: 3;
      li:before {
        display: none;
      }
    }
  }
  .field-name-field-sku {
    .h4;
    margin-bottom: 13px;
  }
  .pane-node-body {
    margin-top: 20px;
    ul {
      margin-bottom: 0 !important;
    }
  }
  .product-buttons-wrapper {
    .views-field-nothing,
    .views-field-add-to-cart {
      a {
        margin: 0 auto;
      }
    }
  }
  h2 {
    margin-top: 0;
    text-transform: uppercase;
  }
  .pane-finishes {
    h2 {
      margin-top: 29px;
      margin-bottom: 3px;
    }
    .view-finishes {
      h3 {
        margin-top: 3px;
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 40px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .views-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 11px;

        .finishes-label{
          padding-top: 5px;
          padding-left: 6px;
          position: relative;
          height: 40px;
          width: 50%;
          float: left;
          z-index: 2;
          background: @color-bg-grey;
          font-size: 14px;
          line-height: 15px;
          font-weight: 200;
          color: @color-green;
          border-right: 1px solid @color-white;
          -webkit-border-radius: 3px 0 0 3px;
          -moz-border-radius: 3px 0 0 3px;
          -ms-border-radius: 3px 0 0 3px;
          -o-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
          .views-field-field-abbrevation {
            text-transform: uppercase;
          }
        }
        .views-field-field-image {
          position: absolute;
          height: 40px;
          width: 100%;
          right: 0;
          top: 0;
          overflow: hidden;
          z-index: 1;
          -webkit-border-radius: 5px 3px 3px 5px;
          -moz-border-radius: 5px 3px 3px 5px;
          -ms-border-radius: 5px 3px 3px 5px;
          -o-border-radius: 5px 3px 3px 5px;
          border-radius: 5px 3px 3px 5px;
          img {
            height: 60px;
            width: auto;
            float: right;
          }
        }
      }
    }
  }
  .product-schemas {
    .views-row {
      margin-top: 30px;
      margin-bottom: 60px;
      img {
        border: 2px solid @color-bg-grey;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
      }
    }
  }
  .products-compatible {
    .views-field-field-gallery {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/***************NEWS****************/
// .page-news
.view-news {
  .views-row {
    margin-bottom: 30px;
    &:nth-child(3n+1) {
      clear: left;
    }
    .views-field-field-image {
      overflow: hidden;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .views-field-title {
      .h3;
      line-height: 30px;
      margin-top: 16px;
      a {
        text-decoration: none;
      }
    }
    .views-field-created {
      margin-top: 6px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 25px;
      font-weight: 300;
      color: @color-green;
    }
  }
  .view-content {
    overflow: hidden;
  }
  .pagination {
    clear: left;
  }
}
/***************NEWS AND PORTFOLIO SINGLE PAGES ****************/
.node-type-news,
.node-type-protfolio {
  .node {
    .field-type-image {
      margin-bottom: 35px;
      img {
        width: 100%;
        height: auto;
      }
    }
    img {
      max-width: 100%;
    }
  }
}
.news-header {
  color: @color-green;
  padding-bottom: 15px;
  .icon {
    padding-right: 5px;
  }
  .post-date {
    padding-right: 20px;
  }
}

.node-type-news .sidebar-second-wrapper,
.node-type-protfolio .sidebar-second-wrapper {
  display: none;
}
#block-views-catalog-block-3,
#block-views-portfolio-block-3 {
  h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.node-type-protfolio .used-products {
  .views-row {
    margin-bottom: 20px;
  }
}
.portfolio-views-wrapper.portfolio-last-proj {
  margin-top: 20px;
  .views-row {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
}
.view-portfolio.portfolio-gallery {
  margin-top: 30px;
  margin-bottom: 10px;
  .views-row {
    margin-bottom: 20px;
  }
}

/**********MAIN PAGE***************/
#block-views-main-slider-block,
#block-views-main-slider-block-1 {
  display: none;
}
#block-views-main-slider-block {
  overflow: hidden;
}
.front {
  h1 {
    margin-bottom: 0;
  }
  .panel-separator {
    display: none;
  }
  #block-system-main {
    h2 {
      .h1;
    }
    .panels-flexible-row.container {
      margin: auto;
      padding: 0 15px;

      .row {
        float: none;
        width: auto;
      }
    }
  }
  .panels-flexible-region-4-portfolio {
    width: 100%;
  }
  .portfolio-views-wrapper {
    position: relative;
    .slick__slide {
      position: relative;
      vertical-align: top;
      .views-field-field-image {
        max-height: 30%;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
        &:before {
          content: "";
          display: block;
          padding-top: 50%;
        }
        .field-content {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          overflow: hidden;
        }
      }
      .views-field-view-node {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 0;
        a {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
      .hidden-wrapper {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 12px;
        background: @gradient-green-start;
        background: -moz-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
        background: -webkit-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
        background: -o-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
        background: -ms-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
        .views-field-title {
          color: #fff;
          font-family: Raleway;
          font-size: 14px;
          line-height: 20px;
          font-weight: 300;
          text-transform: uppercase;
          min-height: 40px;
        }
        .views-field-field-place {
          color: #fff;
          font-size: 12px;
          line-height: 25px;
          font-weight: 300;
        }
      }
      &:hover {
        .hidden-wrapper {
          display: block;
        }
      }
    }
    .slick__arrow {
      position: absolute;
      z-index: 1;
      top: 20px;
      right: 15px;
      .slick-arrow {
        font-size: 0;
        width: 35px;
        height: 35px;
        background: red;
        border: 3px solid @color-bg-grey;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background: @image-icons -156px -30px no-repeat;
        &:hover {
          background-position: -78px -30px;
        }
        &.slick-prev {
          background-position: -159px -62px;
          margin-right: 7px;
          &:hover {
            background-position: -81px -62px;
          }
        }
      }
    }
  }
  .catalog-main {
    position: relative;
  }
  .col-left-main {
    position: static;
    #block-categories-main {
      h2 {
        .h2;
        line-height: 50px;
      }
    }
  }
  #block-views-catalog-block-1 {
    .block-title {
      .h2;
    }
  }
  .panels-flexible-region-4-design {
    width: 100%;
  }
  .design-row {
    background: @gradient-green-start;
    background: -moz-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
    background: -webkit-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
    background: -o-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
    background: -ms-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
    color: @color-white;
    padding-bottom: 40px;
    margin-bottom: 5px;
    
    h2 {
      .h1;
      margin-top: 30px;
      margin-bottom: -5px;
      color: @color-white !important;
    }
    .readmore {
      color: @color-white;
    }
    .design-gray {
      .number-1,
      .number-2 {
        width: 49px;
        height: 49px;
        display: inline-block;
        margin-top: 35px;
        margin-right: 25px;
        margin-bottom: 29px;
        padding-top: 13px;
        padding-left: 13px;
        float: left;
        background: @color-white;
        font-family: "Source Sans Pro";
        color: @color-green;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
      }
      h3 {
        margin-top: 36px;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
        text-transform: uppercase;
        color: @color-white;
      }
      .img-wrapper {
        margin-bottom: 26px;
        clear: left;
        img {
          width: 100%;
        }
      }
    }
  }
  .buttons-row {
    padding: 81px 0 40px;
    background: url(../images/bg-box.png) repeat 50% 0;
    
    .btn-wrapper {
      border: 10px solid @color-bg-grey;
      margin-bottom: 40px;
      .button-gray {
        display: block;
        height: 60px;
        width: 100%;
        border: 3px solid @color-white;
        background: @color-bg-grey;
        font-family: Raleway;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 54px;
        text-decoration: none;
        text-align: center;
        -webkit-transition: background 0.5s, color 0.5s;
        -o-transition: background 0.5s, color 0.5s;
        transition: background 0.5s, color 0.5s;

        &:hover,
        &:hover,
        {
          background: @color-green;
          color: @color-lighter-green;
        }
      }
    }
  }
}

// node-type-design-page
.node-type-design-page {
  .h1-bread-wrapper {
    float: none;
  }
  .panel-separator {
    display: none;
  }
  h1 {
    margin-top: 25px;
    margin-bottom: 18px;
  }
  .pane-node-body {
    color: @color-green;
    margin-bottom: 30px;
  }
  .design-gray {
    background: @color-bg-grey;
    padding-bottom: 33px;
    margin-bottom: 38px;
    .number-1,
    .number-2 {
      width: 49px;
      height: 49px;
      display: inline-block;
      margin-top: 22px;
      margin-right: 25px;
      margin-bottom: 29px;
      padding-top: 13px;
      padding-left: 13px;
      float: left;
      background: @gradient-green-start;
      background: -moz-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
      background: -webkit-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
      background: -o-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
      background: -ms-linear-gradient(45deg, @gradient-green-start 0%, @gradient-green-end 100%);
      font-family: "Source Sans Pro";
      color: @color-white;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
    }
    h3 {
      margin-top: 23px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .img-wrapper {
      margin-bottom: 26px;
      clear: left;
      img {
        width: 100%;
      }
    }
    .text {
      color: @color-green;
    }
  }
  .view-design-blocks {
    .views-row {
      margin-bottom: 18px;
      img {
        width: 100%;
        height: auto;
        border: 2px solid @color-bg-grey;        
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
      }
    }
  }
}

// css



#block-views-main-slider-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}


.masonry-item {
  border: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: none;
}

.row .panels-flexible-row.container,
.panels-flexible-column.container,
.panels-flexible-row.container ,
.panels-flexible-region.container {
  float: none;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.row .panels-flexible-row.container-fluid ,
.panels-flexible-column.container-fluid ,
.panels-flexible-row.container-fluid {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.row .panels-flexible-region-inside,
.row .panels-flexible-column-inside {
  padding: 0;
}
.panels-flexible-region.row,
.row .panels-flexible-region.row ,
.panels-flexible-row.row,
.row .panels-flexible-row.row {
  margin-right: -15px;
  margin-left: -15px;
  padding: 0;
  width: auto;
}
.row .panels-flexible-row.col-xs-1, .row .panels-flexible-row.col-sm-1, .row .panels-flexible-row.col-md-1, .row .panels-flexible-row.col-lg-1, .row .panels-flexible-row.col-xs-2, .row .panels-flexible-row.col-sm-2, .row .panels-flexible-row.col-md-2, .row .panels-flexible-row.col-lg-2, .row .panels-flexible-row.col-xs-3, .row .panels-flexible-row.col-sm-3, .row .panels-flexible-row.col-md-3, .row .panels-flexible-row.col-lg-3, .row .panels-flexible-row.col-xs-4, .row .panels-flexible-row.col-sm-4, .row .panels-flexible-row.col-md-4, .row .panels-flexible-row.col-lg-4, .row .panels-flexible-row.col-xs-5, .row .panels-flexible-row.col-sm-5, .row .panels-flexible-row.col-md-5, .row .panels-flexible-row.col-lg-5, .row .panels-flexible-row.col-xs-6, .row .panels-flexible-row.col-sm-6, .row .panels-flexible-row.col-md-6, .row .panels-flexible-row.col-lg-6, .row .panels-flexible-row.col-xs-7, .row .panels-flexible-row.col-sm-7, .row .panels-flexible-row.col-md-7, .row .panels-flexible-row.col-lg-7, .row .panels-flexible-row.col-xs-8, .row .panels-flexible-row.col-sm-8, .row .panels-flexible-row.col-md-8, .row .panels-flexible-row.col-lg-8, .row .panels-flexible-row.col-xs-9, .row .panels-flexible-row.col-sm-9, .row .panels-flexible-row.col-md-9, .row .panels-flexible-row.col-lg-9, .row .panels-flexible-row.col-xs-10, .row .panels-flexible-row.col-sm-10, .row .panels-flexible-row.col-md-10, .row .panels-flexible-row.col-lg-10, .row .panels-flexible-row.col-xs-11, .row .panels-flexible-row.col-sm-11, .row .panels-flexible-row.col-md-11, .row .panels-flexible-row.col-lg-11, .row .panels-flexible-row.col-xs-12, .row .panels-flexible-row.col-sm-12, .row .panels-flexible-row.col-md-12, .row .panels-flexible-row.col-lg-12,
.row .panels-flexible-region.col-xs-1, .row .panels-flexible-region.col-sm-1, .row .panels-flexible-region.col-md-1, .row .panels-flexible-region.col-lg-1, .row .panels-flexible-region.col-xs-2, .row .panels-flexible-region.col-sm-2, .row .panels-flexible-region.col-md-2, .row .panels-flexible-region.col-lg-2, .row .panels-flexible-region.col-xs-3, .row .panels-flexible-region.col-sm-3, .row .panels-flexible-region.col-md-3, .row .panels-flexible-region.col-lg-3, .row .panels-flexible-region.col-xs-4, .row .panels-flexible-region.col-sm-4, .row .panels-flexible-region.col-md-4, .row .panels-flexible-region.col-lg-4, .row .panels-flexible-region.col-xs-5, .row .panels-flexible-region.col-sm-5, .row .panels-flexible-region.col-md-5, .row .panels-flexible-region.col-lg-5, .row .panels-flexible-region.col-xs-6, .row .panels-flexible-region.col-sm-6, .row .panels-flexible-region.col-md-6, .row .panels-flexible-region.col-lg-6, .row .panels-flexible-region.col-xs-7, .row .panels-flexible-region.col-sm-7, .row .panels-flexible-region.col-md-7, .row .panels-flexible-region.col-lg-7, .row .panels-flexible-region.col-xs-8, .row .panels-flexible-region.col-sm-8, .row .panels-flexible-region.col-md-8, .row .panels-flexible-region.col-lg-8, .row .panels-flexible-region.col-xs-9, .row .panels-flexible-region.col-sm-9, .row .panels-flexible-region.col-md-9, .row .panels-flexible-region.col-lg-9, .row .panels-flexible-region.col-xs-10, .row .panels-flexible-region.col-sm-10, .row .panels-flexible-region.col-md-10, .row .panels-flexible-region.col-lg-10, .row .panels-flexible-region.col-xs-11, .row .panels-flexible-region.col-sm-11, .row .panels-flexible-region.col-md-11, .row .panels-flexible-region.col-lg-11, .row .panels-flexible-region.col-xs-12, .row .panels-flexible-region.col-sm-12, .row .panels-flexible-region.col-md-12, .row .panels-flexible-region.col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
}
.inside-auto-row > .inside {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    // float: none;
    height: 100%;
  }
  .row .panels-flexible-row.container,
  .panels-flexible-column.container,
  .panels-flexible-row.container ,
  .panels-flexible-region.container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .row .panels-flexible-row.container,
  .panels-flexible-column.container ,
  .panels-flexible-row.container ,
  .panels-flexible-region.container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .row .panels-flexible-row.container,
  .panels-flexible-column.container ,
  .panels-flexible-row.container ,
  .panels-flexible-region.container {
    width: 1170px;
  }
}